.foodEdit{
    width: 100%;    
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;  
}
.foodEdit img{
    width: 30%;
    margin: 1rem 0rem;
}
.editInfo{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputGroup{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.inputGroup label{
    width: 150px;
}
.inputGroup .checkbox{
    padding: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox:checked {
    background-color: greenyellow;
}
.selectGroup{
    display: flex;
    width: 100%;
    justify-content: center;
}
.selectGroup label{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.selectGroup select{
    padding: 0.5rem;
    border-radius: 10px;
}
.addBurguer{
    border-radius: 10px;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    width: 100px;
}
.editInfo .setQuantity{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: 0.5rem;
}
.editInfo .setQuantity button{
    padding: 0.25rem 1rem;
    border-radius: 10px;
    border: 2px solid black;
    width: 100px;
}
.editInfo .setQuantity .info{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width:500px){
    .foodEdit img{
        width: 80%;
        margin: 1rem 0rem;
    }
    .editInfo{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .inputGroup{
        width: 100%;
        padding: 1rem;
        white-space: nowrap;
    }
    .inputGroup label{
        width: 200px;
    }
    .editInfo .setQuantity{
        width: 80%;
    }
    .editInfo .setQuantity .info{
        margin-bottom: 0.5rem;
    }
    .editInfo .setQuantity .info button{
        width: 30%;
    }
    .selectGroup label{
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
}
