.foodEdit{
    width: 100%;    
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;  
}
.foodEdit img{
    width: 30%;
    margin: 1rem 0rem;
}
.editInfo{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputGroup{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputGroup label{
    width: 120px;
}
.selectGroup{
    display: flex;
    width: 100%;
    justify-content: center;
}
