#shoppingCart{
    margin-left: 3rem;
}
.listShoppingCart{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 400px;
    z-index: 2000;
}
.listShoppingCart ul{
    white-space: nowrap;
}
.listShoppingCart ul li{
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
}.listShoppingCart ul li h3{
    width: 90px;
}
.listShoppingCart ul li button{
    border-radius: 5px;
    padding: 0.25rem;
    font-weight: 500;
    margin-left: 0.5rem;
}
.listShoppingCart ul li b{
    padding:0 0.5rem;
}
.listShoppingCart.light{
    border: 2px solid rgb(20,20,20);
}
.listShoppingCart.dark{
    border: 2px solid aliceblue;
}

@media screen and (max-width:500px){
    .listShoppingCart{
        width: 98%;
        margin-right:1%;
        margin-top: 6rem;
    }
}
