.itemListContainer{
    width: 100%;    
    display: flex;
    flex-direction: column;
    padding-top: 2rem;  
    padding-bottom: 2rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.itemListContainer h2{
    text-align:center;
}
.itemListContainer button{
    width: 20%;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}
.fridges{
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.fridges .fridge{
    max-width: 455px;
    width: 80%;
    height: 580px;
    background-color: red;
    color: black;
    text-align: center;
    font-family: 'Coca Cola ii',sans-serif;
    border-radius: 5px;
    position: relative;
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fridge h3{
    margin-bottom: 0.5rem;
}
.fridge .manija{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60%;
    margin-right: 0.35rem;
    box-shadow: -0.5px -3px 5px 1px whitesmoke;
    width: 10px;
    height: 30px;
    background-color: silver;
}
.fridge .fridgeContainer{
    background-color: rgb(20, 20, 20);
    height: 480px;
    width: 90%;
    margin-left: 5%;
    border-radius: 2.5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 0.75rem;
    box-shadow: inset 0px 0px 15px 2px white;
    gap: 1rem;
}

@media screen and (max-width:1023px){
    .itemListContainer{
        padding: 1rem;
    }
    .fridges{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
    .fridges .fridge{
        width: 100%
    }
    
}
@media screen and (max-width:400px){
    .fridge .fridgeContainer{
        grid-template-columns: repeat(2,1fr);
    }
}

