.itemListContainer{
    width: 100%;    
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}
.itemListContainer h2{
    text-align:center;
}
.itemListContainer button{
    width: 20%;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}
.fridges{
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.foodContainers{
    margin-top: 2rem;
}

@media screen and (max-width:1023px){
    .itemListContainer{
        padding: 1rem;
    }
    .fridges{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
}


