
.shoppingCartList{
    width: 70%;
    margin-left: 15%;
    min-height: 100vh;
}
.cartList .shoppingCartList .cartItem{
    display: flex;
    width: 100%;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.cartItem h4{
    display: flex;
    width: 25%;
    justify-content: center;
}
.cartItem .removeBtn{
    width: 30%;
    border-radius: 10px;
}
.cartItem .name{
    justify-content: left;
    text-align: left;
}
.showInfo{
    display: normal;
    margin-left:2rem;
}
.notShow{
    display: none;
}
