.cartList{
    min-height: 100vh;
    padding: 1rem;
}
.shoppingCartList{
    width: 70%;
    margin-left: 18%;
}
.cartList .shoppingCartList .cartItem{
    display: flex;
    width: 100%;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: space-between;
    align-items: center;
}
.cartList h2{
    text-align: center;
    margin-top: 5rem;
}
.cartItem h3{
    display: flex;
    width: 25%;
    justify-content: center;
}
.cartItem .removeBtn{
    width: 30%;
    border-radius: 10px;
}
.cartItem .name{
    cursor: pointer;
    justify-content: left;
}
.showInfo{
    display: normal;
    margin-left:2rem;
}
.notShow{
    display: none;
}
