.footer{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5rem 0rem;
}
.footer a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    padding: 0.40rem;
    
}
.footer img{
    width: 30px;
    margin-left: 0.4rem;
}

.footer.light{
    background-color: white;
}
.footer.light a{
    color: black;
}
.footer.dark a{
    color: azure;
}