.form{
    min-height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 4rem;
}
.form button{
    width: fit-content;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}
.form .backBtn{
    position: absolute;
    left: 0;
    top: 0;
    margin: 3rem;
}
.form form{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form form .inputGroup{
    display: flex;
    justify-content: space-around   ;
    white-space: nowrap;
    width: 80%;
}
.form form .inputGroup label{
    width: 150px;
    font-size: 1.5rem;
}
.form form .inputGroup input{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid black;
}
@media screen and (max-width:860px){
    .form form .inputGroup{
        width: 100%;
    }
    .form form .inputGroup label{
        font-size: 1rem;
    }
}
@media screen and (max-width:600px){
    .form{
        padding: 1rem;
    }
    input{
        width:150px;
    }
    .form .backBtn{
        margin: 1.5rem;
    }
    .form form .inputGroup{
        flex-direction: column;
    }
}