nav{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
}
nav a{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
nav img{
    height: 40px;
    margin-right: 50%;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
}