*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: aliceblue;
  font-weight: 500;
  padding: 1rem;
}